<!DOCTYPE html>
<html>
    <%- include('./partials/head') -%>
    <div class="container">
        <h1>Hello, world!</h1>
        <table>
            <tr>
                <th>Block #</th>
                <th>Timestamp</th>
                <th>Hash</th>
                <th>PreviousHash</th>
                <th>Data</th>
                <th>Difficulty</th>
            </tr>
            <% blockchain.forEach(block => { %>
                <tr>
                    <td><%= block.index %></td>
                    <td><%= block.timestamp %></td>
                    <td><%= block.hash %></td>
                    <td><%= block.previousHash %></td>
                    <td><%= JSON.stringify(block.data) %></td>
                    <td><%= block.difficulty %></td>
                </tr>
            <% }) %>
        </table>

    </div>
</html